.nav-bar {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.point-menu {
    padding: 10px 20px 10px 20px;
}

.point-menu:hover {
    background-color: rgb(192, 192, 192);
    border-radius: 10%;
} 